<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dentify.Web</title>
    <script src="~/dist/izitoast.entry.js" asp-append-version="true"></script>
    <script src="~/dist/uikit.entry.js" asp-append-version="true"></script>
    <script src="~/dist/jquery.entry.js" asp-append-version="true"></script>
    <script src="~/dist/runtime.entry.js" asp-append-version="true"></script>
    <script src="~/dist/home.entry.js" asp-append-version="true"></script>
</head>
<body>
    <header>
    </header>
    
    <div class="padding-small@s uk-margin-auto">
        @RenderBody()
    </div>

    <footer>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
