.logo {
  background-image: url(../../styles/images/logo.png);
  display: inline-block;
  width: 350px !important;
  height: 120px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
